<div class="section" id="resources">
    <h1><i class="fa fa-book" aria-hidden="true"></i> Projects</h1>
    {% if not projects %}
        <h2>There are no projects registered for this municipality</h2>
    {% endif %}

    <div class="card-deck">
        {% for project in projects %}
            <div class="project-card card">
            <div class="card-header">{{ project.title }}</div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">Status:</dt>
                    <dd class="col-sm-9">{{ project.status }}</dd>
                    <dt class="col-sm-3">Area of work:</dt>
                    <dd class="col-sm-9">{{ project.area_of_work }}</dd>
                    <dt class="col-sm-3">Mode of delivery:</dt>
                    <dd class="col-sm-9">{{ project.mode_of_delivery }}</dd>
                    <dt class="col-sm-3">Partner:</dt>
                    <dd class="col-sm-9">{{ project.partner }}</dd>
                    <dt class="col-sm-3">Agenda:</dt>
                    <dd class="col-sm-9">{{ project.agenda }}</dd>
                    <dt class="col-sm-3">M&amp;E:</dt>
                    <dd class="col-sm-9">{{ project.m_and_e }}</dd>
                    <dt class="col-sm-3">Contact person:</dt>
                    <dd class="col-sm-9">{{ project.contact }}</dd>
                    <dt class="col-sm-3">Email:</dt>
                    <dd class="col-sm-9">{{ project.email }}</dd>
                </dl>
            </div>
            <div class="card-footer">Programme: {{ project.programme }}</div>
            </div>
        {% endfor %}

    </div>
</div>

